@font-face {
    font-family: 'Poppins';
    src: url('./ttf/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./ttf/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./ttf/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
